*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

.box-one{
    background-color: #eb5757;
    height: 150px;
    width: 150px;
    border: 10px solid #9d51d0;
    padding: 40px;
    margin: 40px;
}

.box-two{
    background-color: #2d9cdb;
    height: 200px;
    width: 200px;
    border: 10px solid #9d51d0;
    padding: 20px;
    margin: 15px;
    border: 15px solid rgb(7, 124, 75);
}